out
src
client
pic
node_modules
.test-data
.vscode
.vscode-test
.vscode-test-web
*.vsix
*.map
*.json
*.js
*.yml
icon.png
.vscodeignore
scripts/*
!server/dist/server.js
!*.nls.*
!package.json
!syntaxes/*